<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="homepage">
  
  <ion-list >
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/ingresar">
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/devolucion">
            Devolución
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round">
            Stock
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-list>


    <img src="../../../assets/logo.png" alt="" >

</ion-content>
