<ion-header [translucent]="true">
  
</ion-header>

<ion-content class="homepage">
  <div class="logoInicial">
    <img src="../../../assets/logoInicial.png" alt="">
  </div>
  <ion-list >
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/ingresar">
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/devolucion">
            Devolución
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/stock">
            Stock
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-list>


  <img src="../../../assets/logo.png" alt="">

</ion-content>
