<ion-header [translucent]="true">
  
</ion-header>

<ion-content class="homepage">
  <!-- Logo inicial de la vista -->
  <div class="logoInicial">
    <img src="../../../assets/logoInicial.png" alt="">
  </div>

  <!-- Botones de la vista -->
  <ion-list >
    <!-- Grid de botones -->
    <ion-grid>

      <!-- Botón de ingresar -->
      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/ingresar">
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Botón de devolución -->
      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/devolucion">
            Devolución
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Botón de stock -->
      <ion-row>
        <ion-col>
          <ion-button shape="round" routerLink="/stock">
            Stock
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-list>

  <!-- Logo de la vista -->
  <img src="../../../assets/logo.png" alt="">

</ion-content>
