ion-button {
    margin-top: 20px;
    font-size: 30px;
    color:white ;
    --background: #df001f;
}

img {
    position: absolute;
    bottom: 0;
}

ion-content {
    --background: white;
}

.imagen-container {
    display: grid;
    place-items: center;
    height: 300px;
}

.horizontal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio horizontal entre los botones */
  }
  