<ion-header >
  <ion-toolbar style="--background: #df001f">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text="Volver" style="color: black;"></ion-back-button>
    </ion-buttons>

    <ion-title>Devolución</ion-title>
    <img src="../../../assets/Arauco_solo_logo.png" alt="" style="height: 100%; width: auto; right:5%; align-items: center; justify-content: center;">

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Select para escoger el cliente a devolución de préstamo -->
  <ion-select label="Escoja un cliente" label-placement="floating" fill="solid" (ionChange)="onClienteChange($event)" style="--background:#df001f ; text-align: center; --padding-start: 0;">
    <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.idCliente"> {{cliente.numeroRodado}} - {{cliente.nombreCliente}}</ion-select-option>
  </ion-select>

  <!-- Espacio para que se dibuje la firma digital -->
  <div style="justify-content: center">
    <strong><ion-label>Firma aquí:</ion-label></strong>
    <canvas #signatureCanvas width="630" height="750" style="border:1px solid #000; margin-top: 30px;background-color:white;"></canvas>
  </div>

  <!-- Botones debajo del contenedor -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="clearCanvas()">Limpiar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="saveSignature()">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="imagen-container" style="justify-content: center;">
    <img src="../../../assets/logo.png" alt="logo">
      </div>


</ion-content>
